h1,
h2,
h3 {
  color: #8B4513;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

h2, h3 {
  text-align: left;
}

p,
li {
  color: #4A4A4A;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

img {
  width: 300px;
  height: auto;
}

a {
  color: #007B7F;
}
